In [2]:
import whisperx

In [3]:

device = "cuda" 
audio_file = "../data/db short intro.ogg"
model_file = '../models/whisper/small.en.pt'

In [18]:
# transcribe with original whisper
model = whisperx.load_model(model_file, device)
result = model.transcribe(audio_file)

In [7]:
print(result["segments"][:2]) # before alignment

[{'id': 0, 'seek': 0, 'start': 0.0, 'end': 1.8800000000000001, 'text': " Oh my god, he's loud again.", 'tokens': [3966, 616, 5770, 11, 339, 338, 7812, 757, 13], 'temperature': 0.0, 'avg_logprob': -0.3752633698132573, 'compression_ratio': 1.5341614906832297, 'no_speech_prob': 0.29823726415634155}, {'id': 1, 'seek': 0, 'start': 1.8800000000000001, 'end': 2.88, 'text': ' Hello Craig.', 'tokens': [18435, 13854, 13], 'temperature': 0.0, 'avg_logprob': -0.3752633698132573, 'compression_ratio': 1.5341614906832297, 'no_speech_prob': 0.29823726415634155}]

In [5]:
# load alignment model and metadata
model_a, metadata = whisperx.load_align_model(language_code='en', device=device)

In [10]:
# align whisper output
result_aligned = whisperx.align(result["segments"], model_a, metadata, audio_file, device)

In [9]:
len(metadata['dictionary'])

29

In [15]:
import pandas as pd

In [21]:
aligned_segments = pd.DataFrame(result_aligned["segments"])
aligned_segments

,start,end,text,word-segments,char-segments
0,0.242581,1.313978,"Oh my god, he's loud again.",start end score ...,subsegment-idx word-idx char start ...
1,1.920816,2.655510,Hello Craig.,start end score ...,subsegment-idx word-idx char start ...
2,2.880000,3.431020,Turn him down.,start end score ...,subsegment-idx word-idx char start ...
3,4.308571,4.880000,He was down.,start end score ...,subsegment-idx word-idx char start ...
4,5.124898,5.696327,He's loud again.,start end score ...,subsegment-idx word-idx char start ...
...,...,...,...,...,...
65,289.940503,292.295220,between the jumps and had a lot of jumps.,start end sco...,subsegment-idx word-idx char start ...
66,293.301341,295.051061,I think the narrator was helpful.,start end sco...,subsegment-idx word-idx char start ...
67,296.660000,300.254612,It's just that we ignored some of his advice ...,start end sco...,subsegment-idx word-idx char start ...
68,301.580000,302.445772,"Very contrary, too.",start end sco...,subsegment-idx word-idx char start ...
69,304.580000,304.641167,You,start end score ...,subsegment-idx word-idx char start ...

In [25]:
aligned_segments.iloc[0]['word-segments']

,start,end,score,segment-text-start,segment-text-end,word-idx
subsegment-idx,,,,,,
0,0.242581,0.303226,0.292563,1,3,0
0,0.323441,0.384086,0.198947,4,6,1
0,0.404301,0.646882,0.806181,7,11,2
0,0.687312,0.849032,0.676690,12,16,3
0,0.889462,1.091613,0.968429,17,21,4
0,1.132043,1.313978,0.990968,22,28,5

In [26]:
aligned_segments.iloc[0]['char-segments']

,subsegment-idx,word-idx,char,start,end,score,local-char-idx,segment-text-start,segment-text-end
0,0,0,,NaN,NaN,NaN,0,0,1
1,0,0,O,0.242581,0.283011,0.571701,1,1,2
2,0,0,h,0.283011,0.303226,0.013424,2,2,3
3,0,1,,0.303226,0.323441,0.301155,3,3,4
4,0,1,m,0.323441,0.343656,0.033232,4,4,5
5,0,1,y,0.343656,0.384086,0.364663,5,5,6
6,0,2,,0.384086,0.404301,0.783159,6,6,7
7,0,2,g,0.404301,0.505376,0.975190,7,7,8
8,0,2,o,0.505376,0.586237,0.967679,8,8,9
9,0,2,d,0.586237,0.646882,0.475674,9,9,10
10,0,2,",",NaN,NaN,NaN,10,10,11
11,0,3,,0.646882,0.687312,0.755369,11,11,12
12,0,3,h,0.687312,0.727742,0.510134,12,12,13
13,0,3,e,0.727742,0.788387,0.731719,13,13,14
14,0,3,',0.788387,0.808602,0.965054,14,14,15
15,0,3,s,0.808602,0.849032,0.499854,15,15,16
16,0,4,,0.849032,0.889462,0.506208,16,16,17
17,0,4,l,0.889462,0.970323,0.940916,17,17,18
18,0,4,o,0.970323,0.990538,0.993207,18,18,19
19,0,4,u,0.990538,1.051183,0.988126,19,19,20
20,0,4,d,1.051183,1.091613,0.951465,20,20,21
21,0,5,,1.091613,1.132043,0.528580,21,21,22
22,0,5,a,1.132043,1.172473,0.994661,22,22,23
23,0,5,g,1.172473,1.233118,0.998853,23,23,24
24,0,5,a,1.233118,1.253333,0.977197,24,24,25
25,0,5,i,1.253333,1.293763,0.987110,25,25,26
26,0,5,n,1.293763,1.313978,0.997021,26,26,27
27,0,5,.,NaN,NaN,NaN,27,27,28

In [19]:
print(result_aligned["word_segments"][0]) # after alignment

{'text': 'Oh', 'start': 0.24258064516129035, 'end': 0.30322580645161296}

In [22]:
words_aligned = pd.DataFrame(result_aligned['word_segments'])
words_aligned

          text       start         end
0           Oh    0.242581    0.303226
1           my    0.323441    0.384086
2         god,    0.404301    0.646882
3         he's    0.687312    0.849032
4         loud    0.889462    1.091613
..         ...         ...         ...
548     times.  299.792735  300.254612
549       Very  301.580000  301.660537
550  contrary,  301.680671  302.163893
551       too.  302.304832  302.445772
552        You  304.580000  304.641167

[553 rows x 3 columns]